<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Credit_Simulator_Harrak_Amal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnuiteServ</display-name>
    <servlet-name>AnnuiteServ</servlet-name>
    <servlet-class>com.iao.amal.controler.AnnuiteServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnuiteServ</servlet-name>
    <url-pattern>/AnnuiteServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapitalServ</display-name>
    <servlet-name>CapitalServ</servlet-name>
    <servlet-class>com.iao.amal.controler.CapitalServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapitalServ</servlet-name>
    <url-pattern>/CapitalServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DureServ</display-name>
    <servlet-name>DureServ</servlet-name>
    <servlet-class>com.iao.amal.controler.DureServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DureServ</servlet-name>
    <url-pattern>/DureServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverServ</display-name>
    <servlet-name>RecoverServ</servlet-name>
    <servlet-class>com.iao.amal.controler.RecoverServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverServ</servlet-name>
    <url-pattern>/RecoverServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionServ</display-name>
    <servlet-name>ConnectionServ</servlet-name>
    <servlet-class>com.iao.amal.controler.ConnectionServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServ</servlet-name>
    <url-pattern>/ConnectionServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisconnectionServ</display-name>
    <servlet-name>DisconnectionServ</servlet-name>
    <servlet-class>com.iao.amal.controler.DisconnectionServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectionServ</servlet-name>
    <url-pattern>/DisconnectionServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>com.iao.amal.controler.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
</web-app>